@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background-color: rgb(245, 185, 247);
}

.img-section img{
  width: 100vw;
  z-index: inherit;
  position: relative;
}

.nav-logo {
  margin-top: 0;
  margin-left: -10rem;
  width: 30vw;
  max-width: 128px;
}

.section-bg {
  background-color: rgb(225, 149, 234);
  width: 100%;
  max-width: 900px;
}

.text-paragraph {
  /* min-width: 70vw; */
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.home-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 3rem;
  color: rgb(245, 239, 222);
}

.form-part {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .nav-logo {
    margin-top: 0;
    margin-left: 5rem;
  }
}