@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background-color: rgb(245, 185, 247);
}

.img-section img{
  width: 100vw;
  z-index: inherit;
  position: relative;
}

.nav-logo {
  margin-top: 3rem;
}

.section-bg {
  background-color: rgb(225, 149, 234);
}